---
const today = new Date();
---

<footer
  class="py-12 text-center text-sm text-gray-500 border-t border-gray-100 mt-20"
>
  <div class="max-w-4xl mx-auto px-4">
    <p>&copy; {today.getFullYear()} Max Malm. All rights reserved.</p>
  </div>
</footer>
